.index{
  background: white;

  .top-wrapper{
    background: url(../img/bg_left_semi.svg) no-repeat top left;
    background-size: 60%;
    padding: 20px;
  }
  .intro{
    @include text-content(100px);
    background: white;

    .six.columns:first-child{
      padding: 20px 0 20px 20px;
    }
    p{
      color: $lightGray;
    }
  }
  .top-img{
    background: url(../img/bg_top.png) no-repeat center center;
    background-size: cover;
    height: calc(100vh - 50px);
  }
  .scale{
    @include text-content(0px);
    margin-top: 150px;
    position: relative;
    z-index: 2;
  }
  .simple{
    @include text-content(100px);
    color: white;
    position: relative;
    z-index: 1;
    
    .row{
      background: url(../img/bg_left_shape.svg) no-repeat top left;
      background-size: 70%;
      position: relative;
      z-index: 1;
    }
    p{
      padding-right: 30px;
    }
    .sub-title{
      font-size: 1.5em;
      margin-bottom: 10px;
    }
    .five.columns:nth-child(2) img{
      height: 600px;
      margin-top: 70px;
    }
    .purple-bg{
      background: transparentize($purple, 0.9);
      height: 200px;
      position: absolute;
      top: 477px;
      z-index: 0;
      display: block;
      width: 100%;
    }
  }
  .benefits{
    padding: 50px 0;
    display: block;
    width: 100%;
    background: transparentize($purple, 0.9);

    .content{
      padding: 0 100px;
    }
  }
}