.pricing{
  min-height: calc(100vh - 400px);
  background: white;

  .nine{
    background: transparentize($purple, 0.9);
    margin-top: 50px;
  }
  .text-content{
    padding-top: 70px;
  }
  .three.active{
    @include shadow(-1px, 1px, 5px, 5px);
    background: white;

    img{
      border: 1px solid transparentize($purple, 0.5);
      border-radius: 50%;
    }
    .btn-block-white{
      color: white;
      background: $purple;
      box-shadow: none;
    
      &:hover{
        color: white;
        background: $purple;
      }
    }
  }
  .tile{
    padding: 20px;
  }
  h5{
    font-size: 1.5em;
    margin-bottom: 5px;
  }
  h2{
    margin: 0;
  }
  .content{
    padding: 20px 50px;
  }
  .text-content{
    padding-left: 0;
  }
}