@import '../assets/css/tools/tools-import';
@import '../assets/css/base/placeholders';
@import '../assets/css/pages/pages-import';
@import '../assets/css/base/mediaqueries';


.menu{
    display: none;
  }
  .index{
    background: white;
    .top-wrapper{
      background: url(http://res.cloudinary.com/sportbay-co/image/upload/v1525425718/bg_left_semi_nhivrr.svg) no-repeat top left;
      background-size: 60%;
      padding: 20px;
      min-height: 95vh;
      position: relative;
      z-index: 5;
    }
    .intro{
      @include text-content(100px);
      background: white;
      width: 100%;
      min-height: inherit;
      .six.columns:first-child{
        padding: 20px 0 20px 20px;
      }
      p{
        color: $black;
      }
      .intro-content-wrapper{
        min-height: inherit;
        .left-pane{
          min-height: inherit;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          .text-content{
            flex: 2;
            justify-content: center;
            display: flex;
            flex-direction: column;
            padding-bottom: 60px;
            margin-top: 0px;
            .btn-curve-purple{
              display: block;
              width: 200px;
              padding: 15px 20px;
              text-align: center;
              transition: transform 0.4s;
            }
            .btn-curve-purple:hover{
              transform: scale(0.9);
            }
          }
        }
        .right-pane{
          min-height: inherit;
          overflow: hidden;
          .top-img-wrapper{
            overflow: hidden;
            width: 100%;
            min-height: inherit;
            background-color: #333333;
            transform: scale(1.05);
            transform-origin: -100% 50%;
            transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
            transition-delay: 0.4s;
          }
          .top-img{
            min-height: inherit;
            transform: translate3d(0px, 0px, 0px);
            transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
            transition-delay: 0.7s;
          }
          .top-img-wrapper.no-reveal{
            transform: scaleX(0.89);
            .top-img{
              transform: translate3d(-120%, 0px, 0px);
            }
          }
        }
      }
    }
    .top-img{
      background: url(http://res.cloudinary.com/sportbay-co/image/upload/v1525424030/bg_top_qzynai.jpg) no-repeat center center;
      background-size: cover;   
    }
    .scale{
      @include text-content(0px);
      margin-top: 200px;
      margin-bottom: 200px;
      position: relative;
      z-index: 2;
      .sub-text{
        color: $black;
      }
      .section-2-wrapper{
        padding-top: 80px;
        .image-wrapper-container{
          padding: 1px 8%;
          overflow: hidden;
          box-sizing: border-box;
          height: 700px;
          position: relative;
          .clear-div-container{
            overflow: hidden;
            height: 100%;
            width: 100%;
          }
          .clear-div{
            height: 100%;
            width: 100%;
            overflow: hidden;
            background-color: #333333;
            transform: scaleX(1);
            // transform-origin: -100% 50%;
            transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
          }
          .image-wrapper{
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            right: 0;
            transform: translate3d(0px, 0%, 0px) scale(1.1);
            transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
            transition-delay: 0.4s;
            background-position: center;
            background-size: cover;
          }
          .image-wrapper:hover{
            transform: scale(1.05)
          }
        }
        .image-wrapper-container.no-reveal{
          .clear-div{
            transform: scaleX(0.67);
          }
          .image-wrapper{
            transform: translate3d(-120%, 0%, 0px);          
          }
        }
        .text-wrapper{
          margin-top: 150px;
          margin-left: 0px;
        }
      }
    }
    .simple{
      @include text-content(100px);
      color: white;
      position: relative;
      z-index: 1;
      background: url(http://res.cloudinary.com/sportbay-co/image/upload/v1525424226/bg_left_shape_zqyjvl.svg) no-repeat top left;
      
      .row{
        background-size: 70%;
        position: relative;
        z-index: 1;
        padding: 70px 0px;
        .text-content{
          padding: 0px 60px;
          padding-right: 130px;
          .heading{
            margin-bottom: 0px;
            color: #ffffff;
          }
        }
      }
      p{
        padding-right: 30px;
      }
      .sub-title{
        font-size: 1.25em;
        font-weight: 600;
        margin-bottom: 10px;
      }
      .five.columns:nth-child(2) img{
        height: 600px;
        margin-top: 70px;
      }
      .purple-bg{
        background: transparentize($purple, 0.9);
        height: 300px;
        position: absolute;
        bottom: 0px;
        z-index: 0;
        display: block;
        width: 100%;
      }
    }
    .benefits{
      padding: 120px 0;
      padding-bottom: 200px;
      display: block;
      width: 100%;
      background: transparentize($purple, 0.9);
      .heading{
        margin-bottom: 0px;
      }
      .content{
        padding: 0 150px;
        padding-top: 100px;
        padding-bottom: 100px;
        .h5{
          font-weight: 800;
        }
      }
      .p{
        opacity: 0.75;
      }
    }
    .bottom-banner-wrapper{
      min-height: 100px;
      width: 100%;
      transform: translateY(-120px);
      .img-wrapper{
        width: 65%;
        min-height: 400px;
        padding-top: 30px;
        padding-bottom: 30px;
        border-radius: 10px;
        margin: 0 auto;
        background-image: url(http://res.cloudinary.com/sportbay-co/image/upload/v1525425450/banner-img_iisoe4.jpg);
        background-position: center;
        background-size: cover;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .banner-text{
          font-size: 24px;
          display: block;
          width: 65%;
          transition: all 0.6s ease-out;
          text-align: center;
        }
        .banner-text.no-reveal{
          opacity: 0;
        }
        banner-text.reveal{
          opacity: 1;
        }
        .start-project-btn{
          padding: 15px 40px;
          color: #333333;
        }
        .start-project-btn:hover{
          color: #333333 !important;
        }
      }
    }


    .logo {
      text-decoration: none;
      font-size: 1.3em;
      display: block;
      height: 85px;
      width: 120px;
      background-image: url(http://res.cloudinary.com/sportbay-co/image/upload/v1525431685/charisol-logo_purple_l5mn4v.svg);
      background-position: left;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  @media screen and (max-width: 1024px){
	  .pricing-wrapper{
      width:100% !important;
      .columns{
        min-width:50%;
      }
      
    }
	  
	}
	@media screen and (max-width: 675px){
	  .pricing-wrapper{
      width:100% !important;
      .columns{
        min-width:100%;
      }
      
    }
	}

  